*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    word-spacing: 2px;
    word-wrap: break-word;
    line-height: 1.6;
}

a{
    text-decoration: none;
}

body{
    background-color: rgb(26, 28, 25);
    font-family: 'Inter', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 0.18rem 0.31rem;
    border: 1px solid #B1A592;
    border-radius: 56px;
}

nav .left{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 60%;
    color: #B1A592;
}

nav .left h4{
    width: 17.6rem;
    padding: 0.81rem 0;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 800;
    background-color: #323025;
    border-radius: 50px;
}

nav button{
    width: 10rem;
    /* height: 50px; */
    padding: 0.81rem 0;
    font-size: 0.81rem;
    font-weight: 600;
    color: #B1A592;
    border: 1px solid #B1A592;
    background-color: transparent;
    border-radius: 60px;
    text-align: center;
    cursor: pointer;
}

nav button:hover{
    background-color: #B1A592;
    color: #333333;
}

nav .response{
    display: none;
}

.container .allrow{
    grid-area: allrows;
}
.container .allcol{
    grid-area: allcols;
}
.container .allcol-2{
    grid-area: allcols-2;
}


main .container{
     padding: 1.25rem;
     display: flex;
     justify-content: space-between;
}

.container .lhs{
    /* border: 1px solid blue; */
    width: 32%;
}

.container .rhs{
    width: 67%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.rhs .lower{
    display: flex;
    justify-content: flex-end;
}


.allrow{
    background-color: #DFD6C5;
    padding: 1.62rem;
    width: 100%;
    border-radius: 30px;
    cursor: pointer;
}
 
.top{
    display: inline-block;
    padding: 0 0.5rem;
    font-size: 0.87rem;
    color: rgb(52, 36, 21);
    border: 1px solid rgb(52, 36, 21);
    border-radius: 50px;
}

.allrow .image{
    width: 100%;
    height: 35.5rem;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    margin-bottom: 1.62rem;
}

.allrow .image .img{
    width: 100%;
    height: 100%;
    background-image: url('./images/left.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.75s ease-in-out;
}

.allrow:hover .img{
    transform: scale(1.12);
}


.line{
    width: 100%;
    height: 1px;
    background-color: #333333a1;
}

.container h2{
    color: rgb(52, 36, 21);
    margin: 1.25rem 0;
    font-size: 1.75rem;
    font-weight: 800;
}
.container h2 span{
    text-decoration: underline;
}

.bottom{
    padding: 0.8rem 1.25rem 0 0.5rem;
    display: flex;
    justify-content: space-between;
}
.bottom a{
    color: #6b3719;
    font-size: 0.875rem;
    font-weight: 500;
}

.allcol{
    background-color: #8f8868;
    height: fit-content;
    padding: 1.625rem;
    border-radius: 1.875rem;
    cursor: pointer;
    row-gap: 0;
    justify-items: end;
    width: 100%;
}

.img-text{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.875rem;
    /* border: 1px solid rebeccapurple; */
}

.img-text .image{
    width: 48%;
    height: 13.5rem;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.img-text .image .img{
    width: 100%;
    height: 100%;
    background-image: url('./images/right.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.75s ease-in-out;
}

.allcol:hover .img{
    transform: scale(1.1);
}

.alltext{
    width: 45%;
}
.container .text{
    margin-top: 1.56rem;
    font-size: 0.785rem;
    color: rgb(52, 36, 21);
    font-weight: 500;
}

.container i{
    color: rgb(52, 36, 21);
}

.allcol-2{
    align-items: start;
    display: flex;
    justify-content: flex-end;
    gap: 0.62rem;
    /* border: 1px solid red; */
    word-wrap: break-word;
}

.allcol-2 .card1{
    display: flex;
    padding: 1.1rem;
    border-radius: 30px;
    flex-direction: column;
    width: 50%;
    background-color: #976c54;
    word-wrap: break-word;
    cursor: pointer;
}

.allcol-2 .card1 .image{
    width: 100%;
    height: 10rem;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.allcol-2 .card1 .image .img{
    width: 100%;
    height: 100%;
    background-image: url('./images/card1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.75s ease-in-out;
}

.card1:hover .img{
    transform: scale(1.1);
}

.card1 .head{
    display: flex;
    justify-content: space-between;
    /* gap: 1.6rem; */
    padding: 0 15px;
    align-items: center;
    margin-bottom: 0;
}

.card1 .text{
    margin: 20px 0 24px 0;
    /* border: 1px solid blue; */
    padding: 0 15px;
}
.card1 .bottom{
    margin-left: 10px;
}

.card1 .head h2{
    font-size: 3rem;
    margin-bottom: 0;
}
.card1 .head i{
    font-size: 1.8rem;
}

.card1 .bottom{
    padding: 1rem 1.25rem 0 0.5rem;
}

.card2{
    background-color: #b5a38d;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    width: 50%;
}

.card2 .image{
    height: 5.4rem;
    width: 5.4rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 30px;
}
.card2 .image>.img{
    width: 100%;
    height: 100%;
    background-image: url('./images/card2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.75s ease-in-out;
}

.card2:hover .img{
    transform: scale(1.14);
}


.card2 h2{
    font-size: 2rem;
    margin: 80px 0 0 0;
    /* border: 1px solid red; */
}

.card2 .domain{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20%;
    padding: 10px 0 10px 0;
    /* margin: 24px 0 24px 0; */
    /* border-top: 1px solid black; */
    /* border-bottom: 1px solid black */
    font-size: 0.8rem;
    color: #1a1c19;
}

.card2 .lineu{
   height: 2px;
   width: 100%;
   background-color: rgba(26, 25, 25, 0.733);
   margin-top: 30px;
}

.card2 .lined{
    height: 8px;
    width: 100%;
    border-top: 2px solid rgba(26, 25, 25, 0.733);
    border-bottom: 2px solid rgba(26, 25, 25, 0.733);
    margin-bottom: 34px;
}

.allcol a, .allcol-2 a{
    color: #1a1c19;
}

.card1 .head h2{
    position: relative;
}
.card1 .head h2::before{
    content: '';
    height: 3px;
    width: 100%;
    background-color: rgb(52, 36, 21);
    position: absolute;
    bottom: 10px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: 0.5s ease-out;
}

.card1:hover h2::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}
